.breadcrumbs {
  padding: 25px 20px;
  &__list {
    @extend %main-content;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    @include screen-769 {
      padding: 0;
    }
    a, span {
      display: flex;
      font-size: 14px;
      color: #000;
    }
    a {
      &:after {
        content: '';
        background: url(../img/right-arrow-br.svg) no-repeat center/18px;
        position: relative;
        padding: 0 20px;
      }
    }
  }
  &__item {
    @include screen-991 {
      padding-bottom: 10px;
    }
  }
}