.compatibility-item {
  &__container {
    @extend %main-content;
    @extend %flex;
    align-items: center;
    justify-content: center;
  }
  &__caption {
    @extend %caption;
    margin: 40px 0;
  }
  &__woman, &__man {
    padding: 0 50px;
  }
  &__img {
    width: 94px;
    height: 94px;
    display: grid;
    place-content: center;
    margin: 0 auto;
    @include background();
    border-radius: 50%;
    img {
      display: block;
      width: 50px;
    }
  }
  &__title {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    color: #0b0abb;
  }
  &__percent {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    font-weight: 500;
    font-size: 24px;
  }
  &__info {
    margin-bottom: 50px;
    p {
      font-family: $font-roboto;
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 10px;
    }
  }
}