.compatibility {
  &__container {
    @extend %main-content;
    text-align: center;
    @extend %flex;
    align-items: center;
    justify-content: center;
  }
  &__caption {
    @extend %caption;
  }
  &__content {
    &--left, &--right {
      padding: 0 50px;
    }
    &--right {
      .compatibility__choose {
        color: #3eb5f1;
      }
      .compatibility__dropdown {
        border: 1px solid #3eb5f1;
        &.active {
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          .compatibility__arrow {
            border-left: 1px solid #3eb5f1;
            background: url("../img/up-arrow-blue.svg") no-repeat center / 20px;
          }
        }
      }
      .compatibility__arrow {
        background: #3eb5f1 url("../img/downwards-pointer.svg") no-repeat center / 20px;
      }
      .compatibility__dropdown-menu {
        border: 1px solid #3eb5f1;
      }
      li {
        &:hover {
          background-color: #3eb5f1 !important;
          color: $color-white;
        }
      }
    }
  }
  &__choose {
    font-weight: 500;
    font-size: 24px;
    color: #6531e6;
    padding: 5px 0 20px;
    display: inherit
  }
  &__dropdown {
    width: 200px;
    display: inline-block;
    text-align: left;
    transition: all .5s ease;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: $main-color;
    height: 100%;
    border: 1px solid #6531e6;
    &:hover {
      box-shadow: 0 0 4px rgb(204, 204, 204)
    }
    &:active {
      background-color: #f8f8f8
    }
    &.active {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
      &:hover {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
      }
      .compatibility__arrow {
        border-left: 1px solid #6531e6;
        background: url("../img/up-arrow.svg") no-repeat center / 20px;
      }
    }
  }
  &__select {
    cursor: pointer;
    display: block;
    text-align: center;
  }
  &__dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 101%;
    text-align: center;
    left: -1px;
    margin-top: 0;
    overflow: hidden;
    display: none;
    max-height: 145px;
    overflow-y: auto;
    z-index: 9;
    border: 1px solid #6531e6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    li {
      padding: 10px;
      transition: all .2s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: #6531e6;
        color: $color-white;
      }
      &:active {
        background-color: #6531e6;
        color: $color-white;
      }
    }
  }
  &__arrow {
    width: 46px;
    height: 46px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px;
    background: #6531e6 url("../img/downwards-pointer.svg") no-repeat center / 20px;
  }
  &__women, &__men {
    display: inline-block;
    padding: 15px 0;
  }
  &__link {
    display: inline-block;
    padding: 15px 80px;
    margin: 50px 0 100px;
    text-transform: uppercase;
    color: $color-white;
    border-radius: 30px;
    @include screen-480 {
      width: 100%;
      padding: 20px 0;
      margin: 30px 0;
    }
    @include background();
    &:hover {
      transition: 0.5s;
      @include background-hover();
    }
  }
  &__but {
    width: 100%;
  }
}







