.error-404 {
  padding: 120px 0 160px;
  @include screen-769 {
    padding: 40px;
  }
  &__container {
    @extend %main-content;
    text-align: center;
  }
  &__caption {
    @extend %caption;
  }
  &__link {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 20px;
    text-transform: uppercase;
    @include background();
    border-radius: 30px;
    color: $color-white;
    &:hover {
      transition: 0.5s;
      @include background-hover();
    }
  }
  &__sun {
    max-width: 275px;
    @include screen-769 {
      width: 30%;
    }
    @include screen-480 {
      width: 28%;
    }
  }
  &__letter {
    font-size: 360px;
    color: #2e51eb;
    @include screen-769 {
      font-size: 36vw;
    }
    @include screen-480 {
      font-size: 32vw;
    }
  }
}