.footer {
  .social {
    position: fixed;
    top: 40%;
    right: 0;
    z-index: 2;
    @extend %flex-column;
    @include background();
    svg {
      width: 40px;
      padding: 10px;
      fill: $color-white;
      &:hover {
        transition: 0.5s;
        fill: $color-blue;
      }
    }
  }
  &__content {
    position: relative;
    text-align: center;
    padding: 20px 0;
    background: url("../img/Background.jpg") no-repeat center / cover;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("../img/all.svg") no-repeat center -10px/91%;
      @include screen-991 {
        background-position: center 20px;
      }
      @include screen-769 {
        background-position: center 30px;
        background-size: 99%;
      }
    }
  }
  &__logo {
    position: relative;
    @extend %main-content;
    display: inline-block;
  }
  &__img {
    display: block;
    margin: 0 auto 20px;
    height: 130px;
  }
  &__nav {
    width: 100%;
    position: relative;
  }
  &__menu {
    @extend %main-content;
    @extend %justify-between;
    @include screen-1279 {
      justify-content: center;
    }
    @include screen-480 {
      display: block;
    }
  }
  &__link {
    display: block;
    font-weight: 400;
    font-size: 20px;
    color: $color-white;
    &:hover {
      transition: 0.5s;
      color: #9218e2;
    }
    &.active {
      transition: 0.5s;
      color: #9218e2;
    }
    @include screen-1279 {
      padding: 10px 20px;
    }
  }
}