.general-horoscope {
  &__container {
     @extend %main-content;
    @include screen-480 {
      padding: 10px;
    }
   }
  &__caption {
    @extend %caption;
  }
  &__tabs {
    *zoom: 1;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 0.1875em;
    margin-bottom: 1.5em;
    margin-left:0;
    padding-left:0;
  }
  &:before, &:after {
    content: " ";
    display: table;
    clear: both;
  }
  &__tab-item {
    list-style:none;
    .general-horoscope__title {
      text-decoration:none;
      border-bottom: 1px solid $color-cap;
      display: block;
      padding: 0.75em 0.809em;
      @include screen-480 {
        margin-left: -4px;
        padding: 8px 2px;
        font-size: 14px;
      }
    }
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    &:hover {
      color: #000000;
    }
    &:focus {
      outline: none;
    }
    &.active {
      border-bottom: 0;
      color:$color-white;
    }
  }
  &__text {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 14px;
    padding: 1.5em 0;
    display: none;
    overflow: hidden;
    width: 100%;
    line-height: 1.714;
  }
}
  .general-horoscope__tabs {
    border: none;
    position: relative;
    text-align: center;
  }
  .general-horoscope__tabs li.general-horoscope__tab-item {
    display: inline;
  }
  .general-horoscope__tabs li.general-horoscope__tab-item:last-child a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .general-horoscope__tabs li.general-horoscope__tab-item a {
    display: inline-block;
    margin-left: -4px;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
  }
  .general-horoscope__tabs li.general-horoscope__tab-item a.active {
    @include background-left();
    border-bottom: 1px solid $color-cap;
  }
  .general-horoscope__tabs li.general-horoscope__tab-item div {
    text-align: left;
    float: left;
  }



