.header {
  &__content {
    position: relative;
    text-align: center;
    padding: 17px 0 25px;
    background: url("../img/Background.jpg") no-repeat center / cover;
    //&:before {
    //  content: '';
    //  position: absolute;
    //  top: 0;
    //  bottom: 0;
    //  left: 0;
    //  right: 0;
    //  background: url("../img/all.svg") no-repeat center 0px/95%;
    //  @include screen-769 {
    //    background: none;
    //  }
    //}
    @include screen-769 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
  }
  &__logo {
    position: relative;
    z-index: 2;
    @extend %main-content;
    display: inline-block;
    @include screen-769 {
      display: block;
      padding: 0;
      margin: 0;
    }
  }
  &__img {
    display: block;
    margin: 0 auto 20px;
    height: 200px;
    @include screen-769 {
      margin: 0 auto;
    }
    @include screen-480 {
      height: 70px;
    }
  }
  &__nav {
    width: 100%;
    position: relative;
    &--fixed {
      position:fixed;
      top:0;
      width:100%;
      z-index:2;
      padding: 15px 0;
      box-shadow:0 3px 15px 0.15px rgba(0,0,0,0.4);
      background: #3935af;
      background: -moz-linear-gradient(left, #3935af 0%, #304eea 50%, #3935af 100%);
      background: -webkit-linear-gradient(left, #3935af 0%,#304eea 50%,#3935af 100%);
      background: linear-gradient(to right, #3935af 0%,#304eea 50%,#3935af 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3935af', endColorstr='#3935af',GradientType=1 );
      @include screen-1279 {
        padding: 10px 0;
      }
    }
    @include screen-769 {
      display: none;
    }
  }
  &__menu {
    @extend %main-content;
    @extend %justify-between;
    @include screen-1279 {
      justify-content: center;
    }
  }
  &__link {
    display: block;
    font-weight: 400;
    font-size: 20px;
    color: $color-white;
    &:hover {
      transition: 0.5s;
      color: $color-blue;
    }
    &.active {
      transition: 0.5s;
      color: $color-blue;
    }
    @include screen-1279 {
      padding: 10px 20px;
    }
  }
  &__search {
    @extend %main-content;
    text-align: center;
    margin-top: 23px;
  }
  &__form {
    @extend %flex;
    justify-content: center;
  }
  &__input {
    width: 780px;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #315efb;
    background: none;
    @include screen-991 {
      width: 80%;
    }
    @include screen-769 {
      width: 70%;
    }
  }
  &__button {
    position: relative;
    right: 6px;
    top: 0;
    width: 88px;
    height: 50px;
    padding: 20px;
    @include background-left();
    border: 1px solid #315efb;
    &:hover {
      transition: 0.5s;
      @include background-left-hover();
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: auto;
      height: auto;
      background: url("../img/search.svg") no-repeat center / 26px;
    }
    @include screen-480 {
      width: 60px;
    }
  }
  .adaptive-menu {
    display: none;
    position: relative;
    cursor: pointer;
    @include screen-769 {
      display: block;
    }
    &__icon {
      &-close, &-menu {
        width: 40px;
      }
    }
    &__menu-top {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }
    &__full-menu {
      display: none;
      height: 100%;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      text-align: center;
      padding: 20px;
      z-index: 9999;
      box-sizing: border-box;
      background: $color-white;
      overflow: auto;
    }
    &__close-menu {
      text-align: right;
    }
    &__link {
      display: block;
      padding: 18px;
      font-size: 26px;
      text-transform: uppercase;
      color: #000;
      @include screen-480 {
        font-size: 23px;
      }
      &:hover {
        background: $main-color;
        color: $color-white;
      }
    }
    img {
      outline: none;
      &:focus, &:active {
        outline: none;
      }
    }
  }
  &__animation {
    position: absolute;
    left: 0;
    top: 0;
    @include screen-480 {
      display: none;
    }
    .st0-icon {
      &:nth-child(odd) {
        animation: svg-animation 10s infinite linear;
      }
      &:nth-child(even) {
        animation: svg-animation-reverse 11s infinite linear;
      }
      &:hover {
        opacity: 1;
      }
    }
    .st0-icon{opacity:0.45;}
    .st1-icon{fill:#fff;}
    .st2-icon{fill:none;stroke:#fff;stroke-width:0.61;}
    .st3-icon{fill:none;stroke:#fff;stroke-width:0.665;}
    .st4-icon{fill:none;stroke:#fff;stroke-width:1.1162;}
    .st5-icon{fill:none;stroke:#fff;stroke-width:1.015;}
    .st6-icon{fill:none;stroke:#fff;stroke-width:0.9836;}
    .st7-icon{fill:none;stroke:#fff;stroke-width:0.7754;}
    .st8-icon{fill:none;stroke:#fff;stroke-width:0.9178;}
    .st9-icon{fill:none;stroke:#fff;stroke-width:0.7863;}
  }
}

@keyframes svg-animation {
  from{
    transform:rotate(360deg) translateX(18px) rotate(-360deg);
  }
  to{
    transform:rotate(0deg) translateX(18px) rotate(0deg);
  }
}

@keyframes svg-animation-reverse {
  from{
    transform:rotate(0deg) translateX(15px) rotate(0deg);
  }
  to{
    transform:rotate(360deg) translateX(15px) rotate(-360deg);
  }
}
