.name {
  padding-bottom: 60px;
  &__container {
    @extend %main-content;
    @extend %flex;
    justify-content: left;
  }
  &__caption {
    @extend %caption;
    width: 100%;
    margin-top: 40px;
    &--left {
      text-align: left;
      cursor: pointer;
      margin: 40px 0 10px;
    }
  }
  &__item {
    width: 20%;
    @include screen-769 {
      width: 30%;
    }
    @include screen-480 {
      width: 49%;
    }
  }
  &__spoiler-more {
    display: block;
    text-align: left;
    padding: 0;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background: none;
    color: $main-color;
    width: 100%;
    &:hover {
      transition: 0.5s;
      color: $color-blue;
    }
  }
  &__link {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
    &:hover {
      transition: 0.5s;
      color: $color-blue;
    }
  }
  &__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  &__all {
    width: 100%;
    @extend %justify-between;
    justify-content: left;
    .name__list {
      width: 20%;
      @include screen-769 {
        width: 30%;
      }
      @include screen-480 {
        width: 49%;
      }
    }
  }
}


