.news-page {
  &__container {
    @extend %main-content;
  }
  &__caption {
    @extend %caption;
    width: 100%;
  }
  &__row {
    @extend %flex;
    margin-right: -20px;
    margin-left: -20px;
  }
  &__item {
    width: 33.3%;
    margin-bottom: 35px;
    padding-right: 20px;
    padding-left: 20px;
    @include screen-769 {
      width: 49%;
    }
    @include screen-480 {
      width: 100%;
    }
  }
  &__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    @include screen-769 {
      height: 250px;
    }
  }
  &__title {
    display: block;
    padding: 20px 0 8px;
    //text-transform: uppercase;
    line-height: 24px;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    &:hover {
      transition: 0.5s;
      color: #2e51eb;
    }
  }
  &__description {
    margin-bottom: 10px;
    line-height: 15px;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 12px;
  }
  &__date {
    font-weight: 500;
    font-size: 12px;
  }
  &__category {
    width: 100%;
    @extend %justify-between;
    @include screen-991 {
      justify-content: center;
    }
  }
  &__filter {
    padding: 0 10px 20px 0;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background: none;
    @include screen-991 {
      padding: 5px 10px 20px;
    }
    &.active {
      color: $main-color;
      font-weight: bold;
      font-size: 16px;
    }
  }
}