.news {
  padding: 30px 0;
  background: #3935af;
  background: -moz-linear-gradient(left, #3935af 0%, #304eea 50%, #3935af 100%);
  background: -webkit-linear-gradient(left, #3935af 0%,#304eea 50%,#3935af 100%);
  background: linear-gradient(to right, #3935af 0%,#304eea 50%,#3935af 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3935af', endColorstr='#3935af',GradientType=1 );
  &__similar {
    clear: both;
    background: none;
    .news__title {
      color: #000;
    }
    .news__date {
      color: #000;
    }
    .news__description {
      color: #000;
    }
    .news__caption {
      margin-top: 60px;
      color: $main-color;
    }
  }
  &__container {
    @extend %main-content;
  }
  &__caption {
    @extend %caption;
    margin-top: 0;
    color: $color-white;
  }
  &__item{
    margin: 10px 30px;
  }
  &__img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    @include screen-991 {
      height: 20vh;
    }
  }
  &__title {
    padding: 15px 0 8px;
    line-height: 24px;
    display: inline-block;
    font-weight: 500;
    font-size: 17px;
    color: $color-white;
    &:hover {
      transition: 0.5s;
      color: $color-blue;
    }
  }
  &__description {
    margin-bottom: 10px;
    line-height: 15px;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 12px;
    color: $color-white;
  }
  &__date {
    font-weight: 500;
    font-size: 12px;
    color: $color-white;
  }
}