.news-item {
  &__container {
    @extend %main-content;
  }
  &__caption {
    @extend %caption;
    width: 100%;
  }
  &__img {
    width: 500px;
    height: 400px;
    margin: 0 40px 20px 0;
    object-fit: cover;
    float: left;
    @include screen-991 {
      width: 500px;
      margin: 0 30px 20px 0;
    }
    @include screen-769 {
      width: 100%;
      float: none;
      margin: 0 0 20px;
    }
  }
  p {
    margin-bottom: 20px;
    line-height: 24px;
    font-family: $font-roboto;
    font-size: 14px;
  }
  ul {
    font-family: $font-roboto;
    list-style: circle inside;
  }
}