.pagination {
  width: 100%;
  &__block {
    @extend %flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  &__cycle {
    margin: 0 5px;
    &:first-child, &:last-child {
      a {
        border: none;
      }
    }
    a {
      width: 32px;
      height: 32px;
      display: grid;
      place-content: center;
      border-radius: 50%;
      border: 1px solid $main-color;
      color: $main-color;
      img {
        width: 24px;
      }
    }
  }
  .active {
    background: $main-color;
    color: $color-white;
  }
}