.quote {
  padding: 120px 0;
  @include screen-480 {
    padding: 50px 0;
  }
  &__container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
  }
  &__text {
    margin-bottom: 20px;
    line-height: 2;
    font-size: 20px;
    font-family: $font-roboto;
    @include screen-480 {
      line-height: 1.5;
    }
  }
  &__author {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    color: $main-color;
  }
}