.search {
  &__container {
    @extend %main-content;
  }
  &__caption {
    @extend %caption;
    width: 100%;
  }
  &__row {
    @extend %flex;
    margin-right: -20px;
    margin-left: -20px;
  }
  &__item {
    width: 33.3%;
    margin-bottom: 35px;
    padding-right: 20px;
    padding-left: 20px;
    @include screen-769 {
      width: 49%;
    }
    @include screen-480 {
      width: 100%;
    }
  }
  &__img {
    width: 100%;
    height: 241px;
    object-fit: cover;
    @include screen-769 {
      height: 180px;
    }
  }
  &__title {
    display: block;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    &:hover {
      transition: 0.5s;
      color: #2e51eb;
    }
  }
  &__empty {
    padding: 0 20px 20px 20px;
    font-size: 18px;
  }
}