.seo-text {
  padding: 100px 0;
  @include screen-991 {
    padding: 50px 0;
  }
  &__container {
    @extend %main-content;
    @extend %justify-between;
    flex-wrap: nowrap;
    align-items: center;
    @include screen-991 {
      display: block;
    }
  }
  &__caption {
    @extend %caption;
    margin-top: 0;
  }
  &__img {
    width: 630px;
    height: 490px;
    margin-right: 60px;
    object-fit: cover;
    @include screen-1279 {
      width: 50%;
      height: 480px;
      margin-right: 30px;
    }
    @include screen-991 {
      width: 100%;
      margin: 0 0 20px 0;
    }
    @include screen-769 {
      height: auto;
    }
  }
  &__text {
    width: 51%;
    height: 56.5vh;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.714;
    @include screen-991 {
      width: 100%;
      height: auto;
    }
    p {
      font-family: $font-roboto;
    }
  }
}
