.sign {
  padding-bottom: 30px;
  &__container {
    @extend %main-content;
  }
  &__caption {
    @extend %caption;
  }
  h2 {
    margin: 0 0 30px;
    text-align: left;
  }
  &__change {
    margin-top: 40px;
  }
  &__item {
    @include screen-769 {
      padding: 0;
    }
  }
  p {
    font-family: $font-roboto;
    margin-bottom: 30px;
    line-height: 25px;
    font-size: 14px;
  }
  &__img {
    width: 500px;
    float: left;
    margin: 0 50px 20px 0;
    @include screen-991 {
      width: 500px;
      margin: 0 30px 20px 0;
    }
    @include screen-769 {
      width: 100%;
      float: none;
      margin: 0 0 20px;
    }
  }
  &__type {
    font-weight: bold;
    font-size: 15px !important;
    text-align: center;
  }
  &__info {
    max-width: 500px;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    font-size: 16px;
  }
  &__content {
    height: 600px;
    @extend %flex;
    align-items: flex-end;
  }
  &__start {
    display: block;
    width: 225px;
    text-align: center;
    margin: 0 auto 10px;
    padding: 15px 0;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 30px;
    color: $color-white;
    @include background();
    &:hover {
      transition: 0.5s;
      @include background-hover();
    }
  }
}

.sign__tabs {
  margin: 10px 0;
}
.sign__categories {
  @extend %justify-between;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.sign__categories .sign__list {
  display: block;
  padding: 0;
  list-style: none;
}
.sign__categories .sign__list--item {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  color: #000;
}

.sign__categories .sign__list:last-child .sign__list--item {
  display: block;
}

.sign__categories .sign__list--item.active {
  transition: 1s;
  font-weight: bold;
  font-size: 16px;
  color: $main-color;
}
