.subscription {
  position: relative;
  padding: 35px 0;
  clear: both;
  background: url("../img/BG-podpiska.jpg") no-repeat center / cover;
  background-attachment: fixed;
  &:before {
    content: '';
    position: absolute;
    background: rgba(172, 172, 172, 0.1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__container {
    position: relative;
    z-index: 1;
    @extend %main-content;
  }
  &__caption {
    @extend %caption;
    margin-top: 0;
    color: $color-white;
  }
  &__form {
    max-width: 930px;
    margin: 0 auto;
    @extend %justify-between;
  }
  &__field {
    width: 24%;
    margin-bottom: 10px;
    &--checkbox {
      width: 100%;
      @extend %flex;
      align-items: center;
      justify-content: center;
    }
    @include screen-991 {
      width: 49%;
    }
  }
  &__error {
    color: $color-white;
    text-align: left;
    font-size: 12px;
    margin-top: 3px;
    display: none;
  }
  input {
    outline: none;
    display: block;
    width: 220px;
    height: 45px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    color: $color-white;
    background-color: rgba(55,113,236,0.8);
    @include screen-991 {
      width: 100%;
    }
  }
  &__checkbox {
    width: 16px !important;
    margin-right: 10px;
    background: none;
    border: 2px solid $main-color;
  }
  &__label {
    color: #fff;
  }
  &__send {
    margin: 10px auto;
    padding: 10px;
    @include background();
    color: $color-white !important;
    border-radius: 30px;
    cursor: pointer;
    &:hover {
      transition: 0.5s;
      @include background-hover();
    }
    @include screen-991 {
      width: 50% !important;
    }
  }
  .help-block {
    color: $main-color;
  }
  .form-group {
    margin-top: 10px;
  }
  input:valid:not(:placeholder-shown) {
    border-color: $main-color;
  }
  input:invalid:not(:placeholder-shown) {
    border: #9218e2 !important;
  }
  input:invalid:not(:placeholder-shown) + .subscription__error {
    display: block;
  }
}
