.today-horoscope {
  padding: 0 0 50px 0;
  &__container {
    @extend %main-content;
  }
  &__caption {
    @extend %caption;
  }
  &__all {
    @extend %justify-between;
  }
  &__item {
    width: 16%;
    @extend %flex-column;
    margin-bottom: 40px;
    &:hover {
      .today-horoscope__img {
        @include background-hover();
      }
    }
    @include screen-991 {
      width: 21%;
    }
    @include screen-480 {
      width: 49%;
    }
  }
  &__img {
    width: 94px;
    height: 94px;
    display: grid;
    place-content: center;
    @include background();
    border-radius: 50%;
    img {
      display: block;
      width: 50px;
    }
  }
  &__title {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    color: #0b0abb;
  }
}