$main-color: #3534ac;
$color-white: #fff;
$color-cap: #2f4feb;
$color-blue: #18bee2;
$font-roboto: 'Roboto', sans-serif;

@mixin screen-1500{
  @media screen and (max-width: 1500px) {
    @content;
  }
}

@mixin screen-1279 {
  @media screen and (max-width: 1279px) {
    @content;
  }
}

@mixin screen-991 {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin screen-769 {
  @media screen and (max-width: 769px) {
    @content;
  }
}

@mixin screen-480 {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin background-left {
  background: #9218e2;
  background: -moz-linear-gradient(-45deg, #9218e2 0%, #2f4feb 100%);
  background: -webkit-linear-gradient(-45deg, #9218e2 0%,#2f4feb 100%);
  background: linear-gradient(135deg, #9218e2 0%,#2f4feb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9218e2', endColorstr='#2f4feb',GradientType=1 );
}

@mixin background {
  background: #861fe3;
  background: -moz-linear-gradient(left, #861fe3 0%, #3c48ea 100%);
  background: -webkit-linear-gradient(left, #861fe3 0%,#3c48ea 100%);
  background: linear-gradient(to right, #861fe3 0%,#3c48ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#861fe3', endColorstr='#3c48ea',GradientType=1 );
}

@mixin background-hover {
  background: $color-blue;
  background: -moz-linear-gradient(left, $color-blue 0%, #3c63ee 100%);
  background: -webkit-linear-gradient(left, $color-blue 0%,#3c63ee 100%);
  background: linear-gradient(to right, $color-blue 0%,#3c63ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85d8fd', endColorstr='#3c63ee',GradientType=1 );
}

@mixin background-left-hover {
  background: $color-blue;
  background: -moz-linear-gradient(-45deg, $color-blue 0%, #2f4feb 100%);
  background: -webkit-linear-gradient(-45deg, $color-blue 0%,#2f4feb 100%);
  background: linear-gradient(135deg, $color-blue 0%,#2f4feb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18bee2', endColorstr='#2f4feb',GradientType=1 );
}

%main-content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

%flex {
  display: flex;
  flex-wrap: wrap;
}

%justify-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

%flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

%caption {
  display: block;
  width: 100%;
  margin: 40px 0 30px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: $color-cap;
  @include screen-991 {
    font-size: 28px;
    margin: 30px 0;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

strong {
  font-weight: bold;
}

input, textarea {
  outline: none;
  &:focus, &:active {
    outline: none;
  }
}

textarea {resize: none !important;}

.active {
  cursor: default !important;
}

::-webkit-input-placeholder {color:$color-white;}
::-moz-placeholder          {color:$color-white;}
:-moz-placeholder           {color:$color-white;}
:-ms-input-placeholder      {color:$color-white;}
::-webkit-inner-spin-button {display: none;}
::-webkit-calendar-picker-indicator {background: none;}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px rgb(68,67,233) !important;
  -webkit-text-fill-color: $color-white !important;
  color: $color-white !important;
}